.search {
  width: 70%;
  min-height: 100vh;
  color: white;
  background: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  top: 3%;
  left: 28%;
}
.search_info {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  transition: 200ms all ease-in;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  height: fit-content;
  margin-top: 10px;
}
.search_info:hover {
  background-color: rgb(39, 39, 39);
}
.search_info > img {
  object-fit: cover;
  width: 300px;
  height: 250px;
  padding: 20px;
  background-color: transparent;
}
.body__infoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  transition: 200ms all ease-in;
}
.body__infoText > strong {
  font-size: 16px;
}
.body__infoText > h2 {
  width: 100%;
  font-size: 50px;
  font-weight: 800;
  margin-left: auto;
  margin-right: 20px;
}
.body__infoText > p {
  font-size: 20px;
}

.search .body_icons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(21, 21, 21);
  margin-top: 10px;
  box-shadow: 0px 0px 19px 5px rgb(26, 26, 26);
}

.body__shuffle {
  font-size: 80px !important ;
  color: rgb(255, 255, 255);
  transition: 200ms all;
}
.body__shuffle:hover {
  color: rgb(96, 255, 136);
}

.body__dil {
  font-size: 60px !important ;
  color: rgb(255, 255, 255);
  transition: 200ms all;
}
.body__dil:hover {
  color: rgb(96, 255, 136);
}

.body__menu {
  font-size: 40px;
}

.body__menu:hover {
  color: rgb(96, 255, 136);
}
